@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=PT+Sans:ital@1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.card {
  display: flex;

  justify-content: space-between;

  border: 2px solid red;
}
.card li {
  width: 20rem;
  padding: 20px;
  border: 1px solid #c9c9c9;
}
.ing-details {
  padding: 2px 16px;
}
.ing-details h2{
    margin:1rem;
}
.ingri span{
    border:2px solid green;
    font-family: "Dancing Script", cursive;
    color:green;
    font-size: xx-large;
    margin-bottom: 10px;
}
.ingri{
    border:2px solid green;
    padding:1rem;
}
.
/* .recipe-list {
    color:green;
    margin:1rem;
    width:100vh;
     display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.recipe-list h1{
    padding :2rem;
    font-size: xx-large;
    font-weight: 700;
}
.recipe-list p{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'PT Sans', sans-serif;
    width:50vw;
   
}
.recipe-list p li{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.recipe-list p li img{
    margin:2rem;
    width:50%;
   
}
.label{
   margin-left:10rem;
} */
