@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=PT+Sans:ital@1&display=swap');
*{
    margin : 0;
    padding :0;
    box-sizing: border-box;
}
.recipe-list {
    color:green;
    margin:1rem;
    width:100vh;
     display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.recipe-list h1{
    padding :2rem;
    font-size: xx-large;
    font-weight: 700;
}
.recipe-list p{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'PT Sans', sans-serif;
    width:50vw;
   
}
.recipe-list p li{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.recipe-list p li img{
    margin:2rem;
    width:50%;
   
}
.label{
   margin-left:10rem;
}