@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=PT+Sans:ital@1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.recipe-list {
  margin-top: 2rem;
}
.card {
  display: flex;
flex-direction: row;
flex-wrap: wrap;
  justify-content: space-evenly;

}
.card img {
  margin: 1rem 0 1rem 2rem;
  border:2px solid grey;
  border-radius: 25px;
}
.card li {

  width: 20rem;
  padding: 20px;
  border: 1px solid #c9c9c9;
  list-style: none;
}
.ing-details {
  padding: 2px 16px;
}
.ing-details h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}
.ingri-title {
  color:white;
  background-color: green;
}
.ingi-quan {
 width:100%;
  color: green;
  font-family: "Dancing Script", cursive;
  border:none;
}
.label {

  height:3rem;
  font-family: "Dancing Script", cursive;
  margin: 0.5rem 0;
  font-size: 1.8rem;
  text-align: center;
  color: green;
}
