*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  width:100vw;
  height:100vh; 
  background: linear-gradient(#71de71, #b5f1af);
}
.recipe-content{

  display:flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
}
.recipe-content h1{
  padding:3rem;
  color:#4ED681;

}
.receipe-content form{

}