@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-weight: 700;
  font-size: 1.3rem;
}
body {
  width: 100vw;
  height: 100vh;
}
.recipe-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header h1 {
  padding: 3rem;
  font-family: "Dancing Script", cursive;
  font-size: 4rem;
  font-weight: bolder;
  color: green;
}
.header {
  width: 100%;
  height: 30vh;
  position: relative;
  background-image: url(./image/home5.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -15% 10%;
  
}
.header span {
  position: absolute;
  /* inset:0; */
  left: 20rem;
  top: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.recipe-content form {
  width: 50%;
  height: 2.5rem;
  display: flex;
  justify-content: space-evenly;
  margin-top: 1.2rem;
  
}
input,
.ingredient-labels {
  cursor:pointer;
  background-color: green;
  width: 30vw;
  border: none;
  border-radius: 25px;
  text-align: center;
  font-size: larger;
  font-weight: 800;
  color: white;
  font-family: "Dancing Script", cursive;
}
::placeholder {
  color: white;
  opacity: 0.4;
}
.ingredient-labels {
  width: 8rem;
  margin-left: 2rem;
}
.submit {
  cursor:pointer;
  width: 10rem;
  margin-left: 3rem;
  border-radius: 25px;
  border: 2px solid green;
  font-size: larger;
  font-weight: 800;
  background-color: green;
  color: white;
}

/* //responsive for mobile */
@media only screen and (min-width: 450px){

}